header, footer, main {
    height: 100px;   
}

header {
    background:red;
}

section {
    display:flex;
    height:250px;
}

.div-1 {
    background: green;
    width: 50%;
}

.div-2 {
    background: blue;
    width:50%;
}

main {
    display:flex;
}

.div-3 {
    background: tomato;
    width:33%;
}

.div-4 {
    background: plum;
    width:36%;
}

.div-5{
    background: cornflowerblue;
    width:33%;
}

footer {
    background: yellow;
}