header { 
    background-image: url(../image/zelda-header.jpeg);
    background-size:cover;
    height: 200px;
    margin:2px;
}

section {
    display:flex;
    height:400px;   
}

.div-1 {
    background-image: url(../image/zelda-left.jpg);
    background-size:cover;
    width: 20%;
}

.div-2 {
    background: blue;
    width:60%;
    background-image: url(../image/zelda-2.jpg);
    background-size:cover;
}

.div-3 {
    background-image: url(../image/zelda-right.jpg);
    background-size:cover;
    width:20%;
}

footer {
    height: 100px;
    background-image: url(../image/zelda-1.jpg);
    background-size:cover;
    margin:2px;
}