header {
    background:red;
    height: 100px;
}

main {
    display:flex;
    height: 300px;
}

section {
    background: green;
    width: 70%;
}

aside {
    background: blue;
    width:30%;
}


footer {
    background: turquoise;
    height: 100px;
    padding: 3px;
}