body { 
    height:800px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);    
    background-repeat:no-repeat;
    color:white;
    margin-left: 50px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 250;
    margin: 60px auto;
    line-height: 1;
}

h2 {
    margin-top:200px;
    margin-bottom: 45px;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

button {
    padding:4px 40px;
    background: none;
    border:1px solid white;
    margin-right:30px;
}

input {
    border:none;
    border-bottom:1px solid #ffffff;
    background: none;
    margin-right:30px;
}

button:hover {
    background:black;
    border:1px solid black;
}

img {
    width:800px;
}

