

body {
	line-height: 1.5;
	width: 100%;
	/* cursor: url(‘../images/mouse_cake.png’), auto; */
}

a {
	text-decoration: none;
}

/* header and logo */

header {
	height: 100vh;
	background-color: rgb(107, 194, 183);
}

/* hamburger menu below */

.menu {
	font-size: 6px;
	-webkit-transition: 0.1s -webkit-transform linear;
	transition: 0.1s -webkit-transform linear;
	transition: 0.1s transform linear;
	transition: 0.1s transform linear, 0.1s -webkit-transform linear;
	position: fixed;
	background: 0;
	float: left;
	margin: 50px;
	height: 36px;
	width: 36px;
	z-index: 20;
	outline: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
  }
  
  .bar, .bar::before, .bar::after {
	-webkit-transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
	transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s -webkit-transform linear;
	transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
	transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear, 0.2s -webkit-transform linear;
	position: absolute;
	background: black;
	margin: auto;
	width: 100%;
	height: 2px;
	content: '';
	top: 50%;
	left: 0;
  }
  .bar {
	margin-top: 0;
  }
  .bar::before {
	top: -0.8rem;
  }
  .bar::after {
	top: 0.8rem;
  }
  .bar::before, .bar::after {
	-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
  }
  .active .bar {
	background: 0;
  }
  .active .bar::before {
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
  }
  .active .bar::after {
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
  }
  .active .bar::before, .active .bar::after {
	top: 0;
  }
  .active .bar, .active .bar::before, .active .bar::after {
	-webkit-transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s -webkit-transform linear 0.2s;
	transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s -webkit-transform linear 0.2s;
	transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
	transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s, 0.2s -webkit-transform linear 0.2s;
  }
  
  nav {
	width: 250px;
	height: 100%;
	background: white;
	opacity: 0.9;
	position: fixed;
	-webkit-transform: translateX(-250px);
			transform: translateX(-250px);
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
	transition: -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
	transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
	transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91), -webkit-transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
	padding-top: 6.2rem;
	margin-top: 0;
	z-index: 15;
  }
  .menu-open nav {
	-webkit-transform: translateX(0);
			transform: translateX(0);
  }
  nav ul {
	margin: 0;
	list-style: none;
	padding: 0;
	padding-top: 50%;
  }
  nav ul li {
	padding: 20px 15px;
	padding-left: 54px;
	cursor: pointer;
	font-family: 'Cormorant', serif;
	font-size: 28px;
  }
  nav ul li:hover {
	background: rgb(107, 194, 183);
	}
	
/* hamburger menu above */

.logo {
	width: 250px;
	padding-left: 250px;
	padding-top: 350px;
	position: absolute;
	left:20;
	top:0;
	z-index: 50;
}

.mini_logo {
	box-sizing: border-box;
	width: 100px;
	position: fixed;
	z-index: 50000;
	top: 2%;
	right: 2%;
	/* background-color: white; */
	padding: 10px;
	cursor: pointer;
}

/* scroll icon */

#section10 {
  position: relative;
  width: 100%;
	height: 100%;
}

.demo a {
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section10 a {
  padding-top: 80px;
}
#section10 a span {
  position: absolute;
  top: 0;
	left: 50%;
	bottom: 10%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 1px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
	left: 50%;
	bottom: 10%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


  a  { color: inherit; } 

/* header image rotates */

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	}
  
  .rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
	}
  
  .rslides li:first-child {
	position: relative;
	display: block;
	float: left;
	}
  
  .rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
	}

h1 {
	font-family: 'Cormorant', serif;
	/* font-family: "Abril Fatface", serif; */
	font-size: 55px;
	color: white;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center; 
	line-height: 1;
}

/* process infographics */

.process_1 {
	background: url(../images/3_s_step1.png)center center no-repeat;
	background-size: cover;
	height: 800px;
	border: 1px solid black;
}

section {
	/* padding-left: 40px; */
	padding-top: 150px;
	z-index: 10;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: rgb(107, 194, 183);
	padding-bottom: 15px;
	padding-left: 50px;
}

h3 {
	font-family: 'Cormorant', serif;
	font-size: 40px;
	line-height: 1 ;
	color: black;
	padding-left: 50px;
}

#phone {
	cursor: pointer;
}

.custom_cake {
	background: url(../images/cake_01.svg)center center no-repeat;
	background-size: cover;
	height: 100vh;
}

.customh3 {
	color: 	rgb(107, 194, 183);
}

/* gallery */

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* position: relative; */
	/* justify-content: space-around; */
	padding: 50px;
}

/* .cupcake_1 .cupcake_2 .cupcake_3 .cupcake_4 {
	width: 25%;
		box-sizing: border-box;
} */

.all {
	box-sizing: border-box;
	width: 25%;
	padding: 50px;
}

.cupcake_img {
	/* flex-grow: 1 ;
	display: inline-block */
	/* width: 25%; */
	padding-bottom: 15px;


}

/* .cupcake_1 {
	margin: 30px 50px;
} */

h4 {
	font-family: 'Cormorant', serif;
	font-size: 16px;
	text-align: center;
	margin-top: 15px;
	line-height: 1.2;
}

.cupcake_hide {
	display: none;
}

/* chef */

.chef{
	display: flex;
	flex-direction: column;
	background: url(../images/5_chef_bg.png)center center no-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h5 {
	font-family: 'Cormorant', serif;
	font-size: 60px;
	color: white;
	margin: 0;
	padding-top: 30%;
	text-align: center;
}

h6 {
	font-family: 'Cormorant', serif;
	font-size: 80px;
	color: white;
	margin: 0;
	text-align: center;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: rgb(107, 194, 183);
	margin: 0;
	text-align: center;
}

.view_bottom {
	cursor: pointer;
}

.chef_bodycopy {
	font-size: 15px;
	color: white;
	font-weight: 300;
	padding-left: 15%;
	padding-right:15%;
	display: none;
}

/* location */

.location {
	background: url(../images/6_contact_bg.png)center center no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
}

/* footer */

footer {
	background-color: rgb(107, 194, 183);
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: white;
	padding: 12px;
}

