body {
	text-align: center;
}

.bg-off {
  background: black;
}

#lightswitch {
	font-size: 200px;
	padding: 50px;
	cursor: pointer;
	width: 500px;
}

.switch-on {
	background-color: blue;
	color: white;
}

.switch-off {
	background-color: purple;
	color: black;
}
